/*--------------------------------------------------------------
# font
--------------------------------------------------------------*/

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/NotoSansJP-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSansJP-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansJP-Regular.otf) format('opentype');

}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/NotoSansJP-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/NotoSansJP-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: url(fonts/NotoSansJP-Black.otf) format('opentype');
}
  
html {
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85);
  min-width: 320px;
}

/*--------------------------------------------------------------
# icon font
--------------------------------------------------------------*/

@font-face {
  font-family: 'Font Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/font-icon.woff2) format('woff2');
}

.font-icons {
  font-family: 'Font Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*--------------------------------------------------------------
# reset
--------------------------------------------------------------*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/*--------------------------------------------------------------
# required
--------------------------------------------------------------*/

.required {
  color: #F44336;
}

/*--------------------------------------------------------------
# unordered list style
--------------------------------------------------------------*/

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

/*----------------------------------------------
# object-fit - Note: IE and Edge does not support object-fit natively (objec-fit.js Added for support)
-----------------------------------------------*/

.object-fit_fill { 
  object-fit: fill; 
  font-family: 'object-fit: fill;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_contain { 
  object-fit: contain;
  font-family: 'object-fit: contain;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_cover { 
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_none { 
  object-fit: none;
  font-family: 'object-fit: none;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_scale-down { 
  object-fit: scale-down;
  font-family: 'object-fit: scale-down;' /* special font-family property to allow IE to read the correct value */
}

/*--------------------------------------------------------------
# row, group, clearfix
--------------------------------------------------------------*/

.row:after,
.group:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------------------
# float
--------------------------------------------------------------*/

.right {
  float: right;
}

.left {
  float: left;
}

/*--------------------------------------------------------------
# grid system
--------------------------------------------------------------*/

.col,
.half,
.third,
.twothird,
.threequarter,
.quarter {
  float: left;
  width: 100%;
}

/*--------------------------------------------------------------
# col
--------------------------------------------------------------*/

.col.s1 {
  width: 8.33333%;
}

.col.s2 {
  width: 16.66666%;
}

.col.s3 {
  width: 24.99999%;
}

.col.s4 {
  width: 33.33333%;
}

.col.s5 {
  width: 41.66666%;
}

.col.s6 {
  width: 49.99999%;
}

.col.s7 {
  width: 58.33333%;
}

.col.s8 {
  width: 66.66666%;
}

.col.s9 {
  width: 74.99999%;
}

.col.s10 {
  width: 83.33333%;
}

.col.s11 {
  width: 91.66666%;
}

.col.s12 {
  width: 99.99999%;
}

@media (min-width:601px) {
  .col.m1 {
    width: 8.33333%;
  }

  .col.m2 {
    width: 16.66666%;
  }

  .col.m3,
  .quarter {
    width: 24.99999%;
  }

  .col.m4,
  .third {
    width: 33.33333%;
  }

  .col.m5 {
    width: 41.66666%;
  }

  .col.m6,
  .half {
    width: 49.99999%;
  }

  .col.m7 {
    width: 58.33333%;
  }

  .col.m8,
  .twothird {
    width:66.66666%;
  }

  .col.m9,
  .threequarter {
    width: 74.99999%;
  }
  
  .col.m10 {
    width: 83.33333%;
  }
  
  .col.m11 {
    width: 91.66666% 
  }

  .col.m12 {
    width: 99.99999%;
  }
}

@media (min-width:993px) {
  .col.l1 {
    width: 8.33333%;
  }

  .col.l2 {
    width: 16.66666%;
  }

  .col.l3 {
    width: 24.99999%;
  }

  .col.l4 {
    width: 33.33333%;
  }

  .col.l5 {
    width: 41.66666%;
  }

  .col.l6 {
    width: 49.99999%;
  }

  .col.l7 {
    width: 58.33333%;
  }

  .col.l8 {
    width: 66.66666%;
  }

  .col.l9 {
    width: 74.99999%;
  }

  .col.l10 {
    width: 83.33333%;
  }

  .col.l11 {
    width: 91.66666%;
  }

  .col.l12 {
    width: 99.99999%;
  }
}

@media (min-width:1301px) {
  .col.xl1 {
    width: 8.33333%;
  }

  .col.xl2 {
    width: 16.66666%;
  }

  .col.xl3 {
    width: 24.99999%;
  }

  .col.xl4 {
    width: 33.33333%;
  }

  .col.xl5 {
    width: 41.66666%;
  }

  .col.xl6 {
    width: 49.99999%;
  }

  .col.xl7 {
    width: 58.33333%;
  }

  .col.xl8 {
    width: 66.66666%;
  }

  .col.xl9 {
    width: 74.99999%;
  }

  .col.xl10 {
    width: 83.33333%;
  }

  .col.xl11 {
    width: 91.66666%;
  }

  .col.xl12 {
    width: 99.99999%;
  }
}

/*--------------------------------------------------------------
# section
--------------------------------------------------------------*/

.section {
  padding: 0 10px;
}

.section.no-pad {
  padding: 0;
}

@media only screen and (min-width: 601px) {
  .section {
    padding: 0 20px;
  }
}

/*--------------------------------------------------------------
# text-align
--------------------------------------------------------------*/

.al-center {
  text-align: center;
}

.al-left {
  text-align: left;
}

.al-right {
  text-align: right;
}

.al-justify {
  text-align: justify;
}

/*--------------------------------------------------------------
# background
--------------------------------------------------------------*/

.background { 
  background: inherit;
}

.background.white { 
  background: #FFF;
}

.background.black { 
  background: #000;
}

.background.grey { 
  background: #9E9E9E;
}

.background.grey-50 { 
  background: #FAFAFA;
}

.background.grey-100 { 
  background: #F5F5F5;
}

.background.grey-200 { 
  background: #EEEEEE;
}

.background.grey-300 { 
  background: #E0E0E0;
}

.background.grey-400 { 
  background: #BDBDBD;
}

.background.red { 
  background: #F44336;
}

.background.red-50 { 
  background: #FFEBEE;
}

.background.red-100 { 
  background: #FFCDD2;
}

.background.red-200 { 
  background: #EF9A9A;
}

.background.red-300 { 
  background: #E57373;
}

.background.red-400 { 
  background: #EF5350;
}

.background.blue { 
  background: #2196F3;
}

.background.blue-50 { 
  background: #E3F2FD;
}

.background.blue-100 { 
  background: #BBDEFB;
}

.background.blue-200 { 
  background: #90CAF9;
}

.background.blue-300 { 
  background: #64B5F6;
}

.background.blue-400 { 
  background: #29B6F6;
}

.background.green { 
  background: #4CAF50;
}

.background.green-50 { 
  background: #E8F5E9;
}

.background.green-100 { 
  background: #C8E6C9;
}

.background.green-200 { 
  background: #A5D6A7;
}

.background.green-300 { 
  background: #81C784;
}

.background.green-400 { 
  background: #66BB6A;
}

/*--------------------------------------------------------------
# card
--------------------------------------------------------------*/

.card {
  position: relative;
  margin: 5px 0 15px 0;
  background-color: #FFF;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card.no-mab {
  margin-bottom: 0;
}

.card .card-content {
  padding: 10px;
  border-radius: 0 0 2px 2px;
}

.card .card-content.no-pad {
  padding: 0;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  width: 100%;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.card .card-title {
  font-size: 2rem;
  font-weight: 300;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 15px 10px;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #2196F3;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

@media only screen and (min-width: 601px) {
  .card .card-content {
    padding: 20px;
  }

  .card .card-action {
    padding: 15px 20px;
  }
}

/*--------------------------------------------------------------
# collapsible
--------------------------------------------------------------*/

.collapsible {
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
  margin: 10px 0 15px 0;
}

.collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #EEE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}

/*--------------------------------------------------------------
# waves-effect
--------------------------------------------------------------*/

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], 
.waves-effect input[type="reset"], 
.waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}

/*--------------------------------------------------------------
# btn
--------------------------------------------------------------*/

.btn, 
.btn-large, 
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn, 
.btn-large {
  color: #FFF;
  background-color: #2196F3;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn-large {
  height: 54px;
  line-height: 54px;
}

.btn, 
.btn-large, 
.btn-floating, 
.btn-large, 
.btn-flat {
  font-size: 1.5rem;
  outline: 0;
}

.btn:hover, 
.btn-large:hover,
.btn:visited,
.btn-large:visited {
  color: #FFF;
}

.btn.grey-800, 
.btn-large.grey-800 {
  background-color: #424242;
}

.btn.white, 
.btn-large.white {
  color: #000;
  background-color: #FFF;
}

.btn i {
  font-size: 1.8rem;
  line-height: inherit;
}

.btn-large i {
  font-size: 2.4rem;
  line-height: inherit;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #2196F3;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  line-height: inherit;
}

.btn-floating.btn-large {
  width: 56px;
  height: 56px;
}

.btn-floating.btn-large i {
  line-height: 56px;
}

.btn.btn-mobile,
.btn-large.btn-mobile {
  display: block;
  margin: 15px 10px 0;
}

.btn.btn-desktop,
.btn-large.btn-desktop {
  display: none;
}

@media only screen and (min-width: 601px) {
  .btn.btn-mobile,
  .btn-large.btn-mobile {
    display: none;
  }
    
  .btn.btn-desktop,
  .btn-large.btn-desktop {
    display: inherit;
  }
}

/*--------------------------------------------------------------
# icon float
--------------------------------------------------------------*/

i.right {
  float: right;
  margin-left: 15px;
}

i.left {
  float: left;
  margin-right: 15px;
}

/*--------------------------------------------------------------
# fixed-action-btn
--------------------------------------------------------------*/

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 3;
}

/*--------------------------------------------------------------
# parallax-container
--------------------------------------------------------------*/

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-container .parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

@media only screen and (max-width: 992px) {
  .parallax-container .parallax img {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 600px) {
  .parallax-container .parallax img {
    max-width: 1024px;
  }
}

/*--------------------------------------------------------------
# tabs
--------------------------------------------------------------*/

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #FFF;
  margin: 0 auto;
  white-space: nowrap;
}

.tabs.tabs-fixed-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs.tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tabs .tab a {
  color: #424242;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease;
  transition: color .28s ease;
}

.tabs .tab a.active {
  color: #2196F3;
  border-bottom: 2px solid #2196F3;
}

/*--------------------------------------------------------------
# pagination
--------------------------------------------------------------*/

.pagination {
  margin: 0;
  padding: 15px 0 0;
}

.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
}

.pagination li.active {
  background-color: #2196F3;
}

.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1.8rem;
  padding: 0 10px;
  line-height: 30px;
}

.pagination li i {
  font-size: 3rem;
}

.pagination li.active a {
  color: #fff;
}

.pagination .disabled {
  color: #999;
  padding: 0 10px;
}

/*--------------------------------------------------------------
# navigation function (Mobile side nav)
--------------------------------------------------------------*/

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  will-change: opacity;
}

.drag-target {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  z-index: 9;
}

/*--------------------------------------------------------------
# site-header
--------------------------------------------------------------*/

.site {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

/*--------------------------------------------------------------
# site-header
--------------------------------------------------------------*/

.site-header {
  position: relative;
  min-height: 65px;
}

.site-header .site-branding-upper {
  position: absolute;
  display: none;
}

.site-header .site-branding-lower {
  position: fixed;
  -webkit-transition: all 160ms ease-out 100ms;
  -moz-transition: all 160ms ease-out 100ms;
  transition: all 160ms ease-out 100ms;
  z-index: 2;
}

@media only screen and (min-width: 601px) {
  .site-header {
    min-height: 130px;
  }
  
  .site-header .site-branding-upper {
    display: block;
  }

  .site-header .site-branding-lower {
    position: absolute;
    top: 65px;
    -webkit-transition: box-shadow 160ms ease-out 100ms;
    -moz-transition: box-shadow 160ms ease-out 100ms;
    transition: box-shadow 160ms ease-out 100ms;
  }
}

/*--------------------------------------------------------------
# site-branding-upper
--------------------------------------------------------------*/

.site-branding-upper {
  width: 100%;
  height: 65px;
}

@media only screen and (min-width: 601px) {
  .site-branding-upper {
    padding: 0 20px;
  }
}

/*--------------------------------------------------------------
# site-logo
--------------------------------------------------------------*/

.site-logo {
  width: 100%;
}

.site-logo a {
  display: block;
  margin: auto;
  padding: 12px 0;
}

.site-logo img {
  display: block;
  width: auto;
  height: 40px;
  margin: auto;
}

@media only screen and (min-width: 601px) {
  .site-logo {
    float: left;
    width: 30%;
  }

  .site-logo a {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .site-logo img {
    display: block;
    width: auto;
    height: auto;
    max-height: 60px;
    margin: 8px auto 0;
  }
}

/*--------------------------------------------------------------
# button-cluster
--------------------------------------------------------------*/

.button-cluster {
  display: none;
  line-height: 65px;
  text-align: right;
}

@media only screen and (min-width: 601px) {
  .button-cluster {
    display: block;
    float: left;
    width: 70%;
  }
}

@media only screen and (min-width: 993px) {
  .button-cluster a {
    margin: 0 10px;
  }

  .button-cluster a:last-child {
    margin-right: 0;
  }
}

/*--------------------------------------------------------------
# site-branding-lower
--------------------------------------------------------------*/

.site-branding-lower {
  width: 100%;
  max-width: 1440px;
  height: 65px;
}

.site-branding-lower.trans-fixed {
  position: fixed;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.site-branding-lower .site-menu {
  float: left;
  width: 65px;
}

.site-branding-lower .site-title {
  float: left;
  width: calc(100% - 130px);
}

.site-branding-lower .site-nav {
  display: none;
}

.site-branding-lower .site-search {
  float: left;
  width: 65px;
}

.site-branding-lower .site-cancel {
  float: left;
  width: 65px;
}

@media only screen and (min-width: 601px) {
  .site-branding-lower.trans-fixed {
    top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .site-branding-lower {
    padding: 0 20px;
  }

  .site-branding-lower .site-title {
    width: 300px;
  }

  .site-branding-lower .site-nav {
    display: block;
    float: left;
    width: calc(100% - 365px);
  }
}

@media only screen and (min-width: 1301px) {
  .site-branding-lower .site-title {
    width: 345px;
  }

  .site-branding-lower .site-nav {
    width: calc(100% - 410px);
  }
}

@media only screen and (max-width: 600px) {
  .site-branding-lower.trans-fixed {
    visibility: hidden;
    top: -65px;
  }

  .site-branding-lower.mobile {
    visibility: visible;
    top: 0;
  }
}

/*--------------------------------------------------------------
# site-title
--------------------------------------------------------------*/

.site-title {
  line-height: 65px;
}

.site-title .site-title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.site-title a {
  color: #424242;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.site-title a:hover {
  color: #000;
}

.site-title p,
.site-title h1 {
  margin: 0;
}

@media only screen and (min-width: 993px) {
  .site-title {
    padding-right: 10px;
  }

  .site-title a {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1301px) {
  .site-title a {
    font-size: 2rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 345px) {
  .site-title a {
    font-size: 1.3rem;
  }
}

/*--------------------------------------------------------------
# site-nav
--------------------------------------------------------------*/

.site-nav {
  line-height: 65px;
}

.site-nav ul {
  font-size: 1.5rem;
}

@media screen and (min-width: 1301px) {
  .site-nav ul {
    font-size: 1.8rem;
  }
}

/*--------------------------------------------------------------
# site-navigation-l
--------------------------------------------------------------*/

.site-navigation-l {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.site-navigation-l ul {
  list-style: none;
	margin: 0;
  padding-left: 0;
  text-transform: uppercase;
}

.site-navigation-l ul ul ul {
	left: -999em;
	top: 0;
}

.site-navigation-l ul ul li:hover > ul,
.site-navigation-l ul ul li.focus > ul {
	left: 100%;
}

.site-navigation-l ul ul a {
  width: 300px;
  height: auto !important;
  padding: 0 20px;
  font-size: 1.5rem;
  line-height: 35px;
  border-bottom: none !important;
}

.site-navigation-l ul ul a:hover {
  color: #2196F3;
}

.siten-navigation ul li:hover > ul,
.site-navigation-l ul li.focus > ul {
	left: auto;
}

.site-navigation-l li {
	float: left;
  position: relative;
  margin-right: 20px;
}

.site-navigation-l a {
  display: block;
  color: #757575;
  text-decoration: none;
}

.site-navigation-l a:hover {
  color: #424242;
}

.site-navigation-l li.active a {
  height: 65px;
  color: #424242;
  border-bottom: 2px solid #2196F3;
}

.site-navigation-l .sub-menu {
  position: absolute;
  display: none;
  left: -20px;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0 0 2px 2px;
}

.site-navigation-l li:hover .sub-menu {
  display: block;
  border: 1px solid #EEE;
}

.site-navigation-l .sub-menu li {
  margin: 0;
}

@media screen and (min-width: 1301px) {
  .site-navigation-l li {
    margin-right: 30px;
  }
}

/*--------------------------------------------------------------
# site-navigation-m
--------------------------------------------------------------*/

.site-navigation-m {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #FFF;
  overflow: auto;
  z-index: 4;
}

.site-navigation-m .site-branding-nav {
  height: 65px;
  border-bottom: 1px solid #EEE;
}

.site-navigation-m .site-branding-nav a {
  display: block;
  padding: 5px 20px;
}

.site-navigation-m .site-branding-nav img {
  max-height: 65px;
}

.site-navigation-m .menu-content {
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
}

.site-navigation-m ul:not(.browser-default) {
  margin: 0;
}

.site-navigation-m .menu-content li {
  text-transform: uppercase;
}

.site-navigation-m .menu-content li a {
  display: block;
  min-height: 35px;
  padding: 7px 20px;
  color: #424242;
  text-decoration: none;
}

.site-navigation-m .menu-content li a:hover {
  color: #FFF;
  background-color: #2196F3;
}

.site-navigation-m .sub-menu li a {
  color: #9E9E9E;
  padding-left: 30px; 
}

@media screen and (min-width: 993px) {
  .site-navigation-m {
    display: none;
  }
}

/*--------------------------------------------------------------
# site-search-button, .site-menu-button
--------------------------------------------------------------*/

.site-menu-button,
.site-search-button,
.site-cancel-button {
  display: block;
  width: 65px;
  height: 65px;
  color: #757575;
}

.site-menu-button:hover,
.site-search-button:hover,
.site-cancel-button:hover,
.site-menu-button:visited,
.site-search-button:visited,
.site-cancel-button:visited {
  color: #757575;
}

.site-menu-button i,
.site-search-button i,
.site-cancel-button i {
  margin: 20px;
}

@media screen and (min-width: 993px) {
  .site-menu-button {
    display: none;
  }
}

/*--------------------------------------------------------------
# site-atf
--------------------------------------------------------------*/

.site-atf {
  position: relative;
  width: 100%;
  height: calc(100vh - 130px);
  max-height: 770px;
  margin-bottom: 40px;
  background-color: #424242;
}

.site-atf .atf-tagline {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
}

.site-atf .btn-large {
  margin: 30px 0;
}

.site-atf .tagline {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
}

.site-atf .entry-atf {
  color: #FAFAFA;
  font-size: 1.2rem;
  font-weight: 300;
}

.site-atf .entry-atf p {
  margin: 0;
}

@media only screen and (min-width: 601px) {
  .site-atf .tagline {
    font-size: 2rem;
  }
  
  .site-atf .entry-atf {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 993px) {
  .site-atf .tagline {
    font-size: 3rem;
  }

  .site-atf .entry-atf {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1301px) {
  .site-atf .tagline {
    font-size: 4rem;
    font-weight: 600;
  }

  .site-atf .entry-atf {
    font-size: 2rem;
  }
}

/*--------------------------------------------------------------
# site-headlines
--------------------------------------------------------------*/

.site-headlines {
  width: 100%;
  height: 200px;
  background-color: #424242;
}

.site-headlines img {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.site-headlines .headline-entry {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.site-headlines .headline {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .8rem;
  text-align: center;
  text-shadow: 0px 4px 20px #444;
  word-break: break-all;
}

.site-headlines .headline span {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 1rem;
}

@media only screen and (min-width: 601px) {
  .site-headlines {
    height: 250px;
  }

  .site-headlines .headline {
    font-size: 2rem;
    letter-spacing: 1.2rem;
  }
}

@media only screen and (min-width: 993px) {
  .site-headlines {
    height: 300px;
  }

  .site-headlines .headline {
    font-size: 2.5rem;
    letter-spacing: 1.8rem;
  }
}

/*--------------------------------------------------------------
# feat-post-img
--------------------------------------------------------------*/

.feat-post-img {
  height: 400px;
}

/*--------------------------------------------------------------
# title-bar
--------------------------------------------------------------*/

.title-bar {
  position: relative;
  height: 38px;
  margin: 30px 10px;
}

.title-bar .title {
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 38px;
  text-transform: uppercase;
}

.title-bar .btn {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 601px) {
  .title-bar {
    margin: 40px 20px;
  }

  .title-bar .title {
    font-size: 2rem;
  }
}

/*--------------------------------------------------------------
# prod_serv-bundle
--------------------------------------------------------------*/

.prod_serv-bundle {
  display: block;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  color: #424242;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 120ms linear 60ms;
  -moz-transition: all 120ms linear 60ms;
  transition: all 120ms linear 60ms;
}

.prod_serv-bundle:hover {
  color: #424242;
  border-radius: 2px;
}

.prod_serv-bundle:visited {
  color: #424242;
}

.prod_serv-bundle .title,
.prod_serv-bundle .entry {
  margin-bottom: 20px;
}

.prod_serv-bundle .title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.prod_serv-bundle p {
  text-align: justify;
}

@media screen and (min-width: 601px) {
  .prod_serv-bundle {
    padding: 20px;
  }
}

@media screen and (min-width: 993px) {
  .prod_serv-bundle .title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1301px) {
  .prod_serv-bundle .title {
    font-size: 2rem;
  }
}

/*--------------------------------------------------------------
# prod_serv-logo
--------------------------------------------------------------*/

.prod_serv-logo {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  text-align: inherit;
  background-color: #424242;
  border-radius: 50%;
}

.prod_serv-logo.red {
  background-color: #F44336;
}

.prod_serv-logo.blue {
  background-color: #2196F3;
}

.prod_serv-logo.orange {
  background-color: #FF9800;
}

.prod_serv-logo i {
  color: #FFF;
  font-size: 6.4rem;
  line-height: 100px;
}

@media only screen and (min-width: 993px) {
  .prod_serv-logo {
    width: 150px;
    height: 150px;
  }

  .prod_serv-logo i {
    font-size: 7.2rem;
    line-height: 150px;
  }
}

/*--------------------------------------------------------------
# article-featured
--------------------------------------------------------------*/

.article-featured {
  width: 100%;
}

.article-featured .card {
  height: 75px;
  margin: 0 0 10px;
}

.article-featured .card:last-child {
  margin-bottom: 0 !important;
}

.article-featured.main .card {
  height: auto;
}

.article-featured .card-content {
  padding: 10px 10px 10px 85px;
}

.article-featured.main .card-content {
  padding: 0; 
}

.article-featured.main .date-entry {
  background: #FFF;
}

.article-featured .date-entry {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  padding: 10px;
  background: #EEE;
  border-radius: 2px;
}

.article-featured .date-entry .month {
  display: block;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.article-featured .date-entry .day {
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  -webkit-font-smoothing: antialiased;
}

.article-featured .full-date {
  color: #B0BEC5;
  font-size: 1rem;
}

.article-featured .title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-featured.main .title {
  margin-bottom: 0;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.article-featured a {
  color: #424242;
  text-decoration: none;
}

.article-featured a:hover {
  color: #000;
  text-decoration: underline;
}

.article-featured p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-featured.main p {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.article-featured.main .article-title {
  position: relative;
  height: 75px;
  padding: 5px 10px 5px 85px;
}

.article-featured.main .article-entry {
  padding: 10px;
  border-top: 1px solid #EEE;
}

.article-featured.main .feat-article-entry {
  position: relative;
}

.article-featured.main .featured-image {
  height: 300px;
}

.article-featured.main .featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

@media only screen and (min-width: 601px) {
  .article-featured .card {
    height: 100px;
  }

  .article-featured .card-content {
    padding: 23px 20px 23px 120px;
  }

  .article-featured.main .article-entry {
    padding: 20px;
  }

  .article-featured .date-entry .day {
    font-size: 6rem;
    line-height: 6rem;
  }

  .article-featured .date-entry {
    width: 100px;
    height: 100px;
  }

  .article-featured.main .article-title {
    height: 100px;
    padding: 5px 10px 5px 120px;
  }
}

@media only screen and (min-width: 993px) {
  .article-featured {
    float: left;
    width: calc(50% - 20px);
    margin-left: 20px;
  }
  
  .article-featured.main {
    float: left;
    width: 50%;
    margin: 0;
  }

  .article-featured.main .card {
    margin: 0;
    padding: 0;
    height: 430px;
  }

  .article-featured .card-content {
    padding: 19px 20px 19px 120px;
  }

  .article-featured .title {
    font-size: 1.7rem;
  }

  .article-featured.main .date-entry {
    top: -100px;
  }

  .article-featured.main .article-title {
    height: auto;
    padding: 20px 20px 5px;
    border-top: 1px solid #EEE;
  }

  .article-featured.main .article-entry {
    padding: 0 20px 0;
    border-top: none;
  }

  .article-featured.main .feat-article-entry {
    position: relative;
    top: 100px;
    height: 330px;
  }

  .article-featured.main .article-more {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .article-featured.main .featured-image {
    height: 430px;
  }
}

@media only screen and (min-width: 1301px) {
  .article-featured .title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .article-featured.main .card:last-child {
    margin-bottom: 20px !important;
  }

  .article-featured.main .article-title header {
    position: absolute;
    top:  50%;
    transform: translateY(-50%);
  }
}

/*--------------------------------------------------------------
# feat-img-pholder
--------------------------------------------------------------*/

.feat-img-pholder {
  position: relative;
  height: 100%;
  background-color: #EEE;
}

.feat-img-pholder img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px !important;
  height: auto !important;
  transform: translateY(-50%) translateX(-50%);
}

/*--------------------------------------------------------------
# feat-img-pholder-s
--------------------------------------------------------------*/

.feat-img-pholder-s {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: #EEE;
}

.feat-img-pholder-s img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80% !important;
  height: auto !important;
  transform: translateY(-50%) translateX(-50%);
}

/*--------------------------------------------------------------
# about-company-f
--------------------------------------------------------------*/

.about-company-f {
  width: 100%;
}

.about-company-f .card {
  margin: 0;
}

.about-company-f .title {
  color: #FFF;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.about-company-f .entry {
  color: #FFF;
  font-weight: 100;
}

.about-company-f img {
  display: block;
  margin: 40px auto;
}

.about-company-f table {
  color: #FFF;
  font-weight: 100;
}

.about-company-f table td:first-child {
  width: 175px;
  vertical-align: top;
}

@media only screen and (min-width: 993px) {
  .about-company-f .card {
    height: 100%;
  }

  .about-company-f .title {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1301px) {
  .about-company-f {
    float: left;
    width: calc(100% - 915px);
    height: 500px;
  }

  .about-company-f .title {
    font-size: 2rem;
  }

  .about-company-f .entry {
    height: 220px;
    overflow: hidden;
  }
}

/*--------------------------------------------------------------
# about-staff, about-staff-f
--------------------------------------------------------------*/

.about-staff,
.about-staff-f {
  width: 100%;
}

.about-staff .staff-cluster,
.about-staff-f .staff-cluster {
  position: relative;
  height: 100%;
  margin: auto;
  padding: 20px 0;
}

.about-staff-f .staff-cluster .cluster {
  margin-top: 20px;
}

.about-staff .staff-cluster .staff-entry,
.about-staff-f .staff-cluster .staff-entry {
  float: left;
  width: 150px;
  min-height: 180px;
  padding: 10px 5px;
}

.about-staff .staff-cluster .staff-entry img,
.about-staff-f .staff-cluster .staff-entry img {
  display: block;
  width: 96px;
  height: 96px;
  margin: 10px auto;
  background: #FAFAFA;
  border-radius: 50%;
}

.about-staff .staff-cluster .staff-entry span,
.about-staff-f .staff-cluster .staff-entry span {
  display: block;
  text-align: center;
}

.about-staff .staff-cluster span.name,
.about-staff-f .staff-cluster span.name,
.about-staff .staff-cluster span.job,
.about-staff-f .staff-cluster span.job {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.about-staff .staff-cluster span.job,
.about-staff-f .staff-cluster span.job {
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
}

.about-staff-f .staff-cluster .title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .about-staff .staff-cluster,
  .about-staff-f .staff-cluster {
    width: 300px;
  }
}

@media only screen and (min-width: 380px) {
  .about-staff .staff-cluster .staff-entry,
  .about-staff-f .staff-cluster .staff-entry {
    width: 180px;
    padding: 10px;
  }

  .about-staff .staff-cluster,
  .about-staff-f .staff-cluster {
    width: 360px;
  }
}

@media only screen and (min-width: 560px) {
  .about-staff .staff-cluster,
  .about-staff-f .staff-cluster  {
    width: 540px;
  }
}

@media only screen and (min-width: 760px) {
  .about-staff .staff-cluster,
  .about-staff-f .staff-cluster {
    width: 720px;
  }
}

@media only screen and (min-width: 940px) {
  .about-staff .staff-cluster,
  .about-staff-f .staff-cluster {
    width: 900px;
  }

  .about-staff-f .staff-cluster .cluster {
    max-height: 360px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 993px) {
  .about-staff-f .staff-cluster .title {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1120px) {
  .about-staff .staff-cluster,
  .about-staff-f .staff-cluster {
    width: 1080px;
  }
}

@media only screen and (min-width: 1301px) {
  .about-staff-f {
    float: left;
    width: 915px;
    height: 500px;
  }

  .about-staff-f .staff-cluster {
    padding: 20px 2px 20px 5px;
    width: 915px;
  }

  .about-staff-f .staff-cluster .cluster {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .about-staff-f .staff-cluster .title {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1340px) {
  .about-staff .staff-cluster {
    width: 1260px;
  }
}

/*--------------------------------------------------------------
# contact-info
--------------------------------------------------------------*/

.contact-info {
  width: 100%;
  height: 320px;
  color: #FFF;
  font-weight: 100;
}

.contact-info .card {
  position: relative;
  margin: 0;
  height: 100%;
}

.contact-info .c_info-cluster {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 20px);
  margin: 10px;
}

.contact-info .c_info-cluster p {
  padding-left: 40px;
}

.contact-info .btn {
  display: block;
  font-weight: normal;
}

@media only screen and (min-width: 601px) {
  .contact-info .c_info-cluster {
    width: calc(100% - 40px);
    margin: 20px;
  }
}

@media only screen and (min-width: 993px) {
  .contact-info {
    float: left;
    width: 30%;
    height: 400px;
  }
}

@media only screen and (min-width: 1301px) {
  .contact-info {
    width: calc(100% - 915px);
  }
}

/*--------------------------------------------------------------
# location
--------------------------------------------------------------*/

.location-gmap {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

@media only screen and (min-width: 993px) {
  .location-gmap {
    float: left;
    width: 70%;
  }
}

@media only screen and (min-width: 1301px) {
  .location-gmap {
    width: 915px;
  }
}

/*--------------------------------------------------------------
# site-footer
--------------------------------------------------------------*/

.site-footer {
  position: relative;
  margin-top: 20px;
}

.site-footer .site-external {
  min-height: 75px;
  border-bottom: 1px solid #EEE;
}

.site-footer .follow-us {
  width: 100%;
}

.site-footer .partner-com {
  display: none;
}

.site-footer .label {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 75px;
  text-transform: uppercase;
}

.site-footer .s-media-cluster {
  display: inline-block;
  vertical-align: middle;
}

.site-footer .s-partners-cluster {
  display: inline-block;
  max-width: 520px;
  overflow: auto;
  vertical-align: text-bottom;
}

.site-footer .s-media-cluster a,
.site-footer .s-partners-cluster a {
  display: inline-block;
  margin-left: 20px;
}

.site-footer .s-media-cluster a img {
  height: 24px;
}

.site-footer .s-partners-cluster a img {
  width: 150px;
}

.site-footer .s-media-cluster a:first-child {
  margin-left: 30px;
}

.site-footer .site-info {
  min-height: 100px;
}

.site-footer .site-info .logo {
  display: block;
  line-height: 100px;
}

.site-footer .site-info .logo img {
  vertical-align: middle;
}

.site-footer .site-info .site-name {
  display: block;
  margin: 5px 0 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (min-width: 993px) {
  .site-footer .site-external {
    min-height: 100px;
  }

  .site-footer .follow-us {
    float: left;
    width: 330px;
  }

  .site-footer .s-media-cluster a img {
    height: auto;
  }
  
  .site-footer .partner-com {
    display: unset;
    float: left;
    width: calc(100% - 330px);
  }

  .site-footer .label {
    font-size: 2rem;
    line-height: 100px;
  }

  .site-footer .site-info {
    height: 100px;
  }

  .site-footer .site-info .logo {
    display: inline-block;
  }

  .site-footer .site-info .site-name {
    display: inline-block;
    margin: 0 20px;
  }
}

/*--------------------------------------------------------------
# works-cluster
--------------------------------------------------------------*/

.works-cluster {
  position: relative;
}

.works-cluster img {
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

.works-cluster .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 10px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 2px 2px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.works-cluster .feat-img-pholder {
  background-color: #424242;
}

.works-cluster .item {
  height: 400px;
  color: #FFF;
  background-color: #424242;
}

.works-cluster .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.works-cluster .owl-nav [class*='owl-'] {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  color: #424242;
  font-size: 32px;
  margin: 5px;
  padding: 5px;
  background: #FFF;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px; 
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.works-cluster .owl-nav .owl-prev {
  left: -10px;
}

.works-cluster .owl-nav .owl-next {
  right: -10px;
}

.works-cluster .owl-nav [class*='owl-']:hover {
  background: #2196F3;
  color: #FFF;
  text-decoration: none; 
}

.works-cluster .owl-nav .disabled {
  cursor: default; 
}

.works-cluster .owl-nav.disabled + .owl-dots {
  margin-top: 10px; 
}

.works-cluster .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
}

.works-cluster .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; 
}

.works-cluster .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #EEE;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; 
}

.works-cluster .owl-dots .owl-dot.active span, .works-cluster .owl-dots .owl-dot:hover span {
  background: #999; 
}

@media only screen and (min-width: 993px) {
  .works-cluster .owl-nav .owl-prev {
    left: -20px;
  }
  
  .works-cluster .owl-nav .owl-next {
    right: -20px;
  }
}

/*--------------------------------------------------------------
# content-area has-sidebar
--------------------------------------------------------------*/

.content-area.has-sidebar {
  padding: 20px 0 0;
}

@media only screen and (min-width: 993px) {
  .content-area.has-sidebar {
    float: left;
    width: calc(100% - 300px);
  }
}

/*--------------------------------------------------------------
# site-sidebar
--------------------------------------------------------------*/

.site-sidebar {
  padding: 10px 10px 0;
}

@media only screen and (min-width: 601px) {
  .site-sidebar {
    padding: 20px 20px 0;
  }
}

@media only screen and (min-width: 993px) {
  .site-sidebar {
    float: left;
    width: 300px;
    padding: 20px;
  }

  .site-sidebar .sidebar-focus {
    max-width: 260px;
  }
  
  .site-sidebar .sidebar-focus.fixed {
    position: fixed;
    top: 75px;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .site-sidebar {
    margin: 20px 0 0;
    border-top: 1px solid #EEE;
  }

  .site-sidebar .sidebar-focus.fixed {
    margin-top: 0 !important;
  }
}

/*--------------------------------------------------------------
# article-entry
--------------------------------------------------------------*/

.article-entry .card-image {
  height: 300px;
}

.article-entry .card-image img {
  height: 300px;
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

.article-entry.main {
  padding: 0 5px;
}

@media only screen and (min-width: 601px) {
  .article-entry.main .entry-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .article-entry.main .entry-content,
  .article-entry.main .entry-summary {
    height: 90px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 993px) {
  .article-entry.main .entry-content,
  .article-entry.main .entry-summary {
    height: 95px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1301px) {
  .article-entry.main .entry-content,
  .article-entry.main .entry-summary {
    height: 110px;
    overflow: hidden;
  }
}

/*--------------------------------------------------------------
# feat-aritcles, latest-aritcles, categories-list
--------------------------------------------------------------*/

.feat-aritcles,
.recent-aritcles,
.categories-list {
  margin: 5px 0;
}

.feat-aritcles .main-title,
.recent-aritcles .main-title,
.categories-list .main-title {
  margin: 0 0 20px 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.feat-aritcles .main-title:before,
.recent-aritcles .main-title:before,
.categories-list .main-title:before {
  content: '';
  float: left;
  margin-left: -20px;
  width: 5px;
  height: 22px;
  background-color: #CCC;
}

.feat-aritcles .title,
.recent-aritcles .title,
.categories-list li {
  margin: 0;
  font-size: 1.5rem;
}

.feat-aritcles .title a,
.recent-aritcles .title a,
.categories-list li a {
  color: #999;
}

.feat-aritcles .title a:hover,
.recent-aritcles .title a:hover,
.categories-list li a:hover {
  color: #2196F3;
}

.categories-list ul {
  margin: 0;
}

@media only screen and (min-width: 993px) {
  .feat-aritcles .main-title,
  .recent-aritcles .main-title,
  .categories-list .main-title {
    font-weight: 100;
  }
}

/*--------------------------------------------------------------
# widget-area
--------------------------------------------------------------*/

.widget-area .widget-title {
  margin: 0 0 20px 20px;
  font-weight: 100;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.widget-area .widget-title:before {
  content: '';
  float: left;
  margin-left: -20px;
  width: 5px;
  height: 22px;
  background-color: #CCC;
}

.widget-area ul {
  position: relative;
  margin: 5px 0 15px 0;
  padding: 20px;
  background-color: #FFF;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.widget-area ul a {
  color: #999;
  font-weight: 100;
  font-size: 1.5rem;
}

.widget-area ul a:hover {
  color: #2196F3;
}

/*--------------------------------------------------------------
# feat-entry-cluster
--------------------------------------------------------------*/

.feat-entry-cluster {
  position: relative;
  margin: 0 0 20px;
}

.feat-entry-cluster .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-height: 65px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# feat-img-s
--------------------------------------------------------------*/

.feat-img-s {
  float: left;
  width: 65px;
  height: 65px;
}

.feat-img-s img {
  height: 65px;
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

/*--------------------------------------------------------------
# feat-entry-s
--------------------------------------------------------------*/

.feat-entry-s {
  float: left;
  width: calc(100% - 65px);
  height: 65px;
  padding-left: 10px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# entry-xxx
--------------------------------------------------------------*/

.entry-header {
  position: relative;
}

.entry-title {
  margin: 0 0 1.5rem;
  font-size: 1.5rem;
}

.entry-title a {
  color: #424242;
  text-decoration: none;
}

.entry-title a:hover {
  text-decoration: underline;
}

.entry-meta {
  color: #B0BEC5;
  font-size: 1rem;
}

.entry-meta a {
  color: #424242;
  text-decoration: none;
}

.entry-meta a:hover {
  text-decoration: underline;
}

.entry-content p {
  margin: 0;
}

.entry-extra {
  position: relative;
}

.entry-extra  span {
  font-size: 1rem;
  margin-right: 10px;
}

.entry-footer {
  margin: 20px 0;
}

.entry-footer .edit-link {
  display: block;
  margin: 20px 0;
}

.entry-footer .cat-links {
  font-size: 1.2rem;
}

@media only screen and (min-width: 993px) {
  .entry-title {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1301px) {
  .entry-title {
    font-size: 2rem;
  }
}

/*--------------------------------------------------------------
# post-edit-link
--------------------------------------------------------------*/

.post-edit-link {
  color: #FFF !important;
  background-color: #F44336;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: .5px;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

/*--------------------------------------------------------------
# more-link
--------------------------------------------------------------*/

.more-link {
  display: none;
}

/*--------------------------------------------------------------
# map for google map
--------------------------------------------------------------*/

.map {
  height: 400px;
  width: 100%;
}

/*--------------------------------------------------------------
# fix for logged-in/admin bar
--------------------------------------------------------------*/

.logged-in #wpadminbar {
  position: fixed;
  z-index: 2;
}

.logged-in .site-branding-lower.trans-fixed {
  top: 45px;
}

@media only screen and (min-width: 783px) {
  .logged-in .site-branding-lower.trans-fixed {
    top: 30px;
  }

  .logged-in .site-sidebar .sidebar-focus.fixed {
    top: 110px;
  }
}

@media only screen and (max-width: 600px) {
  .logged-in .site-branding-lower {
    top: 45px;
  }
}

/*--------------------------------------------------------------
# about-company
--------------------------------------------------------------*/

.about-com-table {
  width: 100%;
  margin: 15px 0;
}

.about-com-table tr td {
  padding: 5px 0;
  vertical-align: top;
}

.about-com-table tr td:first-child {
  width: 100px;
  padding-right: 10px;
}

@media only screen and (min-width: 601px) {
  .about-com-table tr td:first-child {
    width: 200px;
  }
}

/*--------------------------------------------------------------
# comments-area
--------------------------------------------------------------*/

.comments-area .comment-list {
  margin: 0 0 50px;
  padding: 0 0 30px;
  border-bottom: 1px solid #EEE;
}

.comments-area .comment-list .reply {
  margin: 0 0 20px; 
}

.comments-area .comment-list .comment-reply-link {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.comments-area .comment-list li {
  list-style: none;
}

.comments-area .comment-reply-title {
  text-transform: uppercase;
}

.comments-area .comments-title span {
  font-weight: 400;
}

.comments-area .comment-content {
  font-weight: 200;
}

.comments-area .comment-metadata {
  font-size: 1rem;
}

.comments-area .comment-awaiting-moderation {
  color: #F44336;
}

.comments-area .comment-notes {
  font-weight: 100;
}

.comments-area .comment-author {
  height: 55px;
  line-height: 55px;
}
.comments-area .comment-author span {
  font-weight: 200;
}

.comments-area .comment-author img {
  vertical-align: middle;
  background-color: #EEE;
  border-radius: 50%;
}

/*--------------------------------------------------------------
# page-navi
--------------------------------------------------------------*/

.page-navi {
  clear: both;
  text-align: center;
}

/*--------------------------------------------------------------
# title
--------------------------------------------------------------*/

.title {
  margin: 0 0 1.5rem;
}

/*--------------------------------------------------------------
# short-clip
--------------------------------------------------------------*/

.short-clip {
  position: relative;
  height: 500px;
  background-color: #424242;
}

.short-clip .no-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #FFF;
}

/*--------------------------------------------------------------
# policy-slogan
--------------------------------------------------------------*/

.policy-slogan {
  position: relative;
}

.policy-slogan .card {
  margin: 40px 0;
}

.policy-slogan .card-content {
  padding: 40px 20px;
}

.policy-slogan .title {
  color: #FFF;
  text-align: center;
  margin: 20px 0;
}

.policy-slogan .entry {
  font-weight: 200;
}

/*--------------------------------------------------------------
# img-x-center
--------------------------------------------------------------*/

.img-x-center,
.attachment-img-x-center  {
  display: block;
  margin: auto;
}

/*--------------------------------------------------------------
# object-center-container
--------------------------------------------------------------*/

.about-logo-container {
  display: none;
  position: relative;
  min-height: 100px;
  height: auto;
}

@media only screen and (min-width: 993px) {
  .about-logo-container {
    display: block;
  }
   
  .about-logo-container img {
    position: absolute;
    right: 0;
  }
}

/*--------------------------------------------------------------
# search-bar
--------------------------------------------------------------*/

.search-bar {
  visibility: hidden;
  position: absolute;
  background: #FFF;
  right: 0;
  width: 0;
  height: 65px;
  z-index: 5;
  overflow: hidden;
  -webkit-transition: all 80ms linear 60ms;
  -moz-transition: all 80ms linear 60ms;
  transition: all 120ms linear 60ms;
}

.search-bar.show {
  visibility: visible;
  width: calc(100% - 65px );
}

.search-bar .search-form {
  float: left;
  position: relative;
  width: calc(100% - 65px);
  height: 65px;
  background-color: #FFF;
}

.search-bar label {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.search-bar .search-form .search-field {
  position: absolute;
  top: 50%;
  width: calc(100% - 85px);
  height: 35px;
  margin: 0;
  padding: 0 55px 0 30px;
  background-color: #FAFAFA;
  border: 1px solid #F0F0F0;
  border-radius: 2px;
  transform: translateY(-50%);
}

.search-bar .search-form .search-submit {
  position: absolute;
  top: 50%;
  right: 0;
  color: #999;
  padding: 0 15px;
  background-color: transparent;
  transform: translateY(-50%);
}


@media only screen and (min-width: 993px) {
  .search-bar.show {
    width: calc(100% - 320px );
  }

  .search-bar .search-form {
    width: calc(100% - 85px);
  }

  .search-bar .search-form .search-submit {
    padding: 0 30px;
  }

  .search-bar .search-form .search-field {
    width: calc(100% - 115px);
    padding: 0 85px 0 30px;
  }
}

@media only screen and (min-width: 1301px) {
  .search-bar.show {
    width: calc(100% - 365px );
  }
}

/*--------------------------------------------------------------
# floating dialer
--------------------------------------------------------------*/

.floating-dialer {
  visibility: hidden;
  bottom: -65px;
  -webkit-transition: all 300ms ease-out 600ms;
  -moz-transition: all 300ms ease-out 600ms;
  transition: all 300ms ease-out 600ms;
}

.floating-dialer.show {
  visibility: visible;
  bottom: 23px;
}

@media only screen and (min-width: 601px) {
  .floating-dialer {
    display: none;
  }
}

/*--------------------------------------------------------------
# Contact Fomr 7
--------------------------------------------------------------*/

.wpcf7-mail-sent-ok,
.wpcf7-validation-errors {
  border: 1px solid #000 !important;
}

.wpcf7-response-output {
  position: fixed;
  left: 50%;
  bottom: 20px;
  margin: auto !important;
  padding: 20px 30px !important;
  color: #FFF;
  font-weight: 100;
  background-color: rgba(0, 0, 0, .75);
  border-radius: 2px;
  transform: translateX(-50%);
  z-index: 9;
}

@media only screen and (max-width: 992px) {
  .wpcf7-response-output {
    width: calc(100% - 40px);
  }
}